# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
*.lcov

# next.js
.next/
out/
build
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# turbo
.turbo

# rust / wasm
target/
pkg/
wasm-pack.log

# tauri
apps/desktop/src-tauri/target
