@import "tailwindcss";
@import "@canopy/ui/theme.css";

@plugin "tailwindcss-react-aria-components";

body {
	font-family: var(--font-sans);
	background: rgb(var(--color-gray-50));
	color: rgb(var(--color-gray-900));
}
